.container {
  display: flex;
  flex-direction: column;
  width: 100hh;
  height: 100vh;
}

.main {
  flex: 1;
}

.footer {
}

.drawerFooter {
  display: flex;
}

.drawerBack {
  margin: auto 0 auto auto;
  margin-right: 20px;
}
